<table>
  <thead>
    <tr>
      <th colspan"1"></th>
      <th>Name</th>
      <th>Introduction</th>
    </tr>
  </thead>
  <tbody id="post">
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>